
<!-- 
<h2>Songs</h2>
<ul class='songs'>
  <li *ngFor="let song of songs" 
      (click)="onSelect(song)" 
      [class.selected]="song === selectedSong">
    {{song.title}} by {{song.artist}}
  </li>
</ul> -->

<app-song-detail [song]="selectedSong"></app-song-detail>
<ag-grid-angular 
    #agGrid
    style="width: 95vw; height: 95vh;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    rowSelection="single"
    (click)="selectSong()"
    >
</ag-grid-angular>
